<!DOCTYPE html>
<html>
    <style>
        body {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      </style>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup</title>
    </head>
    <body>
<h1>Signup</h1>
<form action="/user" method="post" >
    <label>Full Name</label>
    <input type ="text" required name="name"/>
    <label>Password</label>
    <input type ="text" required name="password"/>
    <label>Email</label>
    <input type ="text" required name="email"/>
    <button type="submit">SignUp</button>
</form>
    </body>
</html>